*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ContactUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.ContactUsHeader{
    width: 100%;
    height: 230px;
    background-color: #F7EFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h4{
        color: #A075CE;
        font-size: 23px;
        font-weight: 700;
        letter-spacing: 0.5px;

    }

    & h1{
        color: #1E1E1E;
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 1px;
    }
}

.ContactUsBody{
    width: 100%;
    height: 120vh;
    background-color: #fff;
}

 .ContactUsBodyBox1{
    width: 100%;
    height: 75%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUsBodyBox1Small{
    width: 80%;
    height: 90%;
    /* background-color: green; */
    display: flex;
    gap: 10px;
}

.ContactUsBodyBox1Small1{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: yellow;

     & h4{
        color: #9F75CE;
        font-size: 16px;
      
    }

    & h1{
        width: 90%;
        font-size: 30px; 
        font-weight: 620;
        color: #1E1E1E;
        letter-spacing: 1px;
    }

    & p{
        width: 100%;
        font-size: 16px; 
        line-height: 1.7;
        font-weight: 320;
        color: #1E1E1E;
        letter-spacing: 1px;
    
    }

    
}

.ContactUsBodyBox1Small2{
    width: 55%;
    height: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactusinput {
    width: 100%;
    height: 50px;
    background-color: red;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
   
}
.contactusinput input {
    flex-grow: 1;  
    /* flex: 1;   */
    width: 100%; 
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px;
    background-color: white;
    border: 2px solid blue;
}

.ContactUsBodyCallUs{
    width: 100%;
    height: 20vh;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.ContactUsBodyCallUsSmall{
    width: 80%;
    height: 100%;
    /* background-color: RED; */
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row;
}

.ContactUsSmall{
    width: 37%;
    height: 70%;
    background-color: #E2E2E2;
    border-radius: 25px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.ContactUsSmall1{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
}

.ContactUsSmall1Small{
    width: 70%;
    height: 50%;
    /* background-color: #fff; */
}

.ContactUsSmall2{
    width: 70%;
    height: 100%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;

    & h4{
        font-size: 12px;
        color: #3B3638;
    }

    & h3{
        font-size: 19px;
        font-weight: 450;
        color: rgba(0, 0, 0, 0.808);
    }
}

.Icon{
    align-self: center;
    font-size: 30px;
    /* color: white; */
    margin-left: 20px;
}

.ContactUsLocation{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;

    & .ContactUsLocationHeader{
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 15px;
    }

    & h4{
        color: #9F75CE;
        font-size: 15px;
    }

    & h2{
        font-size: 30px;
        font-weight: bold;
        color: #1E1E1E;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    & .ContactUsLocationBox{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .ContactUsLocationBoxSmall{
        width: 80%;
        height: 100%;
        /* background-color: red; */
    }

    & .ContactUsLocationBoxSmall1{
        width: 100%;
        height: 48%;
        padding: 10px;
        display: flex;
        gap: 20px;
    }

    & .SmallBox{
        width: 32%;
        height: 100%;
        border-radius: 30px;
        border: 1px solid #9F75CE;
        padding: 10px;
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 18px;

        & p{
            width: 73%;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.7px;
            font-size: 14px;
        }
    }

}


  .SmallBox2{
    width: 67%;
    height: 235px;
    border-radius: 30px;
    object-fit: cover;
    background-color: blue;
    /* border: 1px solid #371d53; */
}

  .Img{
    width: 100%;
    border-radius: 30px;
    height: 100%;
}



/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 480px) {
    .ContactUsHeader{
        
        & h1{
            font-size: 25px;
        }
    }

    .ContactUsBodyBox1Small{
        /* background-color: red; */
        flex-direction: column;
        width: 100%;
    }

    .ContactUsBodyBox1Small1{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        & h1{
            font-size: 27px;
        }
    }


    & .ContactUsBodyBox1Small2{
        width: 100%;
        height: 1000%;
        /* background-color: blue; */
        padding: 10px;
        
    }

    & .InputBox{
        height: 70%;
        /* background-color: black; */
    }


    & .ContactUsBodyCallUs{
        height: 40%;

    }
    & .ContactUsBodyCallUsSmall{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    & .ContactUsSmall{
        width: 90%;
        height: 100%;
    }

    & .ContactUsLocationBox{
        background-color: red;
    }

    & .ContactUsLocationBoxSmall1{
        width: 100%;
        height: 100%;
        background-color: green;
        display: flex;
        flex-direction: column;
    }

    & .SmallBox{
        width: 100%;
        height: 100%;
        background-color: #3a3030;
    }

    & .SmallBox2{
        width: 100%;
        height: 50%;
        border-color: aqua;
    }
}

@media only screen and (max-width: 379px) {}