.Filterbody{
    width: 100%;
    height: 47vh;
    font-family: inter, sans-serif;
    background-color: #231F22;
}

.Filtermain{
    width: 100%;
    height: 90%;
    display: flex;
    /* background-color: green; */
}
.Filtercontainer1{
    width: 55%;
    display: flex;
    padding-top: 55px;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 60px;
    align-items: baseline;
    /* background-color: red; */
}
.Filtermainwrap{
    display: flex;
    align-items: baseline;
    /* background-color: blue; */
    flex-direction: column;
    gap: 20px;
}
.Filterheader{
    font-size: 17px;
    color: #FFFFFF;
}

.Filtercontainerlist{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    font-size: 12.5px;
    color: #FFFFFF;
}

.Filtercontainer2{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}

.filterbutton{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    background-color: #371D53;
}
.filterbutton:hover{
  width: 120px;
  height: 40px;
  cursor: pointer;
  transform: scale(1.2);
  background-color: #6f32b1e7;
}
.filtericonspan{
    /* width: 80px; */
    /* background-color: green; */
    height: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: flex-end;
}

.filtericons{
    font-size: 22px;
    color: #D3D2D3;
    cursor: pointer;
}

.filtericons1{
    font-size: 18px;
    color: #D3D2D3;
    cursor: pointer;
}

.filterptag{
    width: 100%;
    display: flex;
    height: 33px;
    font-size: 13px;
    font-weight: 300;
    color: #FFFFFF;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
}


  @media screen and (max-width: 800px) {
    .Filterbody{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 135vh;
        gap: 30px;
        font-family: inter, sans-serif;
        background-color: #3B3638;
    }

    .Filtermain{
        width: 100%;
        height: 128vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 0%;
        flex-direction: column-reverse;
        background-color: #3B3638;
        /* background-color: green; */
    }
    .Filtercontainer2{
        width: 100%;
        display: flex;
        /* background-color: blue; */
        flex-direction: column;
        gap: 15px;
         align-items: center;
        justify-content: center; 
    }

    .Filtercontainer1{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 45px;
        align-items: center;
        /* font-size: 30px; */
        justify-content: center;
        /* background-color: red; */
    }

    .filterptag{
        width: 100%;
        display: flex;
        color: #767274;
        /* background-color: yellow; */
        height: 50px;
    }

    .Filterheader{
        font-size: 22px;
        color: #767274;
    }

    .Filtercontainerlist{
        font-size: 15px;
        color: #767274;
    }
}
