.Headerbody{
    width: 100%;
    height: 13vh;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: inter, sans-serif;
    background-color: #F7EFFF;
}
.Headerdivlogo{
    width: 30%;
    display: flex;
    /* font-family: inter san-serif; */
    justify-content: center;
}
.Headerdiv{
    width: 30%;
    display: flex;
    /* font-family: inter san-serif; */
    justify-content: center;
}

.Headerdivh3{
    color: #371D53;
    font-size: 20px;
    /* font-weight: 700; */
}

.Headerdiv1{
    width: 40%;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    color: black;
    align-items: center;
    justify-content: space-between;
    /* background-color: green; */
}

.Headerbutton{
    width: 132px;
    height: 37px;
    border: none;
    border-radius: 9px;
    font-size: 14.5px;
    background-color: #371D53;
    color: #FFFFFF;
}

.Headerdiv1span{
    columns: #371D53;
    cursor: pointer;
}

.active{
    padding: 12px;
    display: flex;
    color: #371D53;
    border-bottom: 1px solid #371D53;
}
.Burgermenuicon{
    display: none;
}
@media screen and (max-width: 650px) {
    .Headerbody{
     width: 100%;
     display: flex;
     justify-content: space-between;
     padding: 10px;
    }
    .Headerdiv1{
        display: none;
    }
    .Headerdiv{
        display: none;
    }
    .Burgermenuicon{
        display: flex ;
    }
    .Headerdiv1drop{
        width: 100%;
        height: 300px;
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 80px;
        background-color: #F7EFFF;
        padding: 10px;
        left: 0;
        gap: 20px;

    }
    .headerdropmobile{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    .active{
        padding: 5px;
        display: flex;
        color: #371D53;
        border-left: 2px solid #371D53;
        border-bottom: none;
    }
    .headerdropmobilebutton{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
 }