

.donatePage{
    height: max-content;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    position: relative;
}


.header{
    height: 20vh;
    width: 100%;
    background-color:#f7f0ff ;
    position: fixed;
}

.donateHeader{
    height: 30vh;
    min-height: 30%;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #f7f0ff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.paymentWrapper{
    height: 80vh;
    min-height: 80%;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
    padding: 20px;
    gap: 60px;
    /* margin-top: 100px; */
    /* background-color: blue; */
}


.dailyMonthlyPlans{
    height: 10%;
    width: 80%;
    border: 2px solid grey;
    border-radius: 10px;
    display: flex;
    font-size: 20px;
    
    && .giveOnce{
        height: 100%;
        /* border-radius: 20px; */
        width: 50%;
        background-color: #613494;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        color: white;
        
        
    }
    
    && .monthly{
        height: 100%;
        width: 50%;
        /* border-radius: 10px; */
        /* background-color: red; */
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        color: black;

    }



}


.amountDiv{
    height:90%;
    width: 80%;
    border: 2px solid black;
}


.chooseAmount{
    height: 17%;
    width: 100%;
    font-size: 25px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #e3e3e3;
    display: flex;
    border: 2px solid grey;
}


.donationAmounts{
    height: 60%;
    width: 100%;
    /* background-color: blue; */
    padding: 10px;
   display: flex;
   align-items: center;
   flex-direction: column;
   gap: 30px;




    button{
        height: 25%;
        width: 80%;
        background-color: #613494;
        color: white;
        font-size: 30px;
    }
}

.amounts{
    height: 25%;
    width: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-size: 20px; */


    && .span{
        height: 100%;
        width: 30%;
        background-color: #c7c5c5;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        padding: 20px;
        outline: none;
    }
    
    
    && .span:hover{
        background-color: #613494a9;
    }
    
    
    && .bigSpan{
        height: 100%;
        outline: none;
        padding: 20px;
        width: 63%;
        background-color: #c7c5c5;
        border-radius: 10px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bigSpan:hover{
        background-color: #613494a9;
    }

}


.secureDiv{
    height: 23%;
    width: 100%;
    border: 2px solid grey;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    
    
    span{
        color: grey;
        font-size: 15px;

    }
}



.img2{
    height: 15vh;
    width: 30%;
    background-color: red;
    object-fit: cover;
    margin-bottom: 10px;



    img{
        height:100%;
        width: 100%;
        object-fit: cover;
    }
}


.img1{
    height: 17vh;
    width: 50%;
    background-color: purple;
    object-fit: cover;



    img{
        height:100%;
        width: 100%;
        object-fit: cover;
    }
}


.footer2Wrapper{
    height: 70vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerText{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    /* background-color: red; */
}

.motivationCards{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
}



.motivationCard{
    height: 90%;
    width: 18%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* justify-content: center; */
    align-items: center;
    border: 4px solid  #613494a9;
  padding: 10px;
    border-radius: 20px;
}


.tittle{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 20px;
    }

    h2{
        font-size: 15px;
    }
}

.content{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
}


.footerWrapper{
    height: 30vh;
    width: 100%;
    background-color: #242023;
}

.modal{
    height: max-content;
    width: max-content;
    top: 800px;
    right: 800px;
    position: absolute;
}


.closeModal{
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 20;
}


